article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* font-family: 'Cormorant Garamond', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Catamaran', sans-serif;*/

/* General Body styling */
html {
    font-size: 125%;
}

body {
    font-family: 'Cormorant Garamond', serif;
    /* border: 2px solid tomato; */
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.45;
    font-size: 1rem;
}

button {
    color: white;
    background-color: rgba(24, 51, 153, 0.78);
    font-size: .9rem;
    border: none;
    width: 160px;
    height: 50px;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, ul, button, input[type="submit"] {
    text-transform: uppercase;
    margin: 0;
}

h1, h2, h3, ul {
    color: #000000;
}

header h1, header h2, header nav, .menu li a, header .socialMediaNav.i, .iconGallery {
    color: #fff;
}


/* Header styling starts here */
header {
    min-height: 80vh;
    background-image: url("assets/deskHeaderBg@2x.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* header: .logo & siteNav styling starts here */
.logo {
   font-size: 3.05rem;
   font-style: italic;
   font-weight: 500;
   padding: 15px 0 0 0;
   width: calc(100% - 80%);
   margin-left: 12.5%;
}
.logo, .menu li {
    float: left;
    
}

.siteNav {
    float: right;
    width: calc((100% - 20%) - 25%);
    margin-right: 12.5%;
    position: relative;
    right: 0;
}

nav .menu {
    padding: 15px 0 0 0;
    font-weight: 600; 
    position: absolute;
    right: 0;
}
.menu li {
    padding: 15px;
}

.menu li:last-child {
    padding-right: 0;
}

.menu li a {
    margin: 20px;
    display: inline-block;
}

/* header: siteTitle styling starts here */

header .siteTitle{
    clear: both;
    padding-top: 7.5%;
}

.siteTitle h1 {
    text-align: center;
    margin: 0
}

.siteTitle .one {
    font-size: 11.35rem;
    font-style: italic;
} 

 .siteTitle .mag {
    font-size: 7.5rem;
    margin-top: -5rem;
    font-weight: 500;
}

/* header: .socialMediaNav icons */
.socialMediaNav {
    padding: 2.5% 2.5% 0 0;

}

header .socialMediaNav li {
    color: white;
    clear: both;
    float: right;
    font-size:  1.5rem;
    width: 50px; 
    text-align: center;
    padding: 0 10px 10px 0;
}

.socialMediaNav li a {
    color: white;
}
/* header styling ends here */


/* firstsection: .articles styling begins here*/    
/* firstsection: .articles imgs styling */
.articles .wrapper {
    width: calc(100% - 20% - 80px);
    margin: 0 12.5%;

}
.articles .newsSection {
    font-weight: 600px;
    font-size: 2.45rem;
    padding: 7% 0;
    text-align: center;
}

.image-item {
    width: calc((100% - 80px) / 3);
    float: left;
    margin: 0 20px;
}

.articles .image-item:nth-of-type(1) {
    margin-left: 0;
}

.articles .image-item:nth-of-type(3) {
    margin-right: 0;
    float: right;
}

.articles img {
    width: 100%;
}

/* first section: .highlight img & article styling */

.highlightsImage {
    width: calc(100% - 73%);
    float: left;
    padding: 5% 2% 5% 0;
}

.highlightsText {
    width: 73%;
    float: left;
    margin-top: 4%;
    text-align: left;
}

.highlightsText h2 {
    font-size: 2.1rem;
    padding: 0;
}

.highlightsText p {
    margin: 0;
}

.highlightsText button {
    margin: 2.5% 0;
}
/* section1-.articles styling ends here */
/* section2-.fullbleedArticles styling begins here*/
.fullbleedArticles {
    width: 100%;
}

.trends img {
    width: calc(100% - 52.7%);
    float: right;
}

.trendsText {
    width: calc((100% - 50%) - 12.5%);
    float: left;
    padding: 5% 5% 5% 0;
    margin-left: 12.5%;
}

.trendsText h3 {
    font-size: 1.75rem;
    width: 55%;
    margin-top: 10%;
}

.trendsText p {
    margin-top: 0;
}

/* .behindScenes styling starts here */
.behindScenes {
    width: 100%;
}

.behindScenes img {
    width: calc(100% - 47.4%);
    float: left;
}

.behindScenesText {
    width: calc((100% - 55%) - 10.5%);
    float: right;
    padding: 5% 0 5% 5%;
    margin-right: 10.5%;
}

.behindScenesText h3 {
    font-size: 1.75rem;
    margin-top: 10%;
}

.behindScenesText button {
    margin-top: 3%;
}

/* fullbleedArticles styling ends here */
/* iconGallery section styling begins here */

.iconGallery {
    background-image: url("assets/deskIconGalleryBg@3x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.iconItem {
   width: calc((100% - 32%) / 3);
   float: left; 
   font-size: 1.55rem;
   padding: 6% 0;
}

.iconItem i {
    font-size:2.85rem;  
}

.iconGallery .iconItem:nth-of-type(1) {
    margin-left: 11%;
}

.iconGallery .iconItem:nth-of-type(2) {
    margin-left: 5%;
    margin-right: 5%;
}
.iconGallery .iconItem:nth-of-type(3) {
    margin-right: 11%;
    float: right;
}

.iconItem p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.55rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3%;
}
/* iconGallery styling ends here */

/* Footer styling begins here */
/* contactInformation - the footerwrapper of all 3 divs */
footer .contactInformation {
    background-color: #e3e3e3;
    padding: 5% 0;
}

/* footer .subscribe / FORM styling begins here */
.subscribe {
    width: calc(100% - 60%);
    margin-left: 11%;
    float: left;
}

.subscribe h3, 
.contact h3 {
    padding-bottom: 10px;
    font-size: 1.25rem;
    color: #010101;
}
.subscribe p, 
.contact p {
    margin: 0;
    padding-bottom: 7px;
    color: #1f2022;
}

form {
    width: 100%;
    position: relative;
   
}

input[type="email"] {
    width: calc(100% - 30%);
    height: 50px;
    padding-left: 15px;
}
input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #1f2022;
    font-size: .95rem;
}

input[type="submit"] {
    width: calc(100% - 80%);
    font-size: .95rem;
    padding: 0;
    margin: 0;
    height: 50px;
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
  
    
/* //footerForm ends here */

/* contact styling begins here */
.contact {
    width: calc(100% - 72%);
    margin: 0 0 0 5%;
    padding-right: 0;
    float: left;   
}

/* bottomNav styling begins here*/

.bottomNav {
    width: calc(100% - 95%);
    margin-right: 11%;
    float: right;
    text-align: right;
    color: #040404;
    
}

/* copyright styling */
.copyright {
    background: #acacac;
    font-size: .9rem;
    text-align: center;
    padding: 15px;
}

.copyright p {
    margin: 0;
    padding: 15px;
}

/* media queries */


/* 1530 - full bleed images stop touching */

/* 1400 */

@media(max-width: 1500px) {
    .highlightsImage img {
        width: 60%;
        margin: 0 20%;
    }

    article .highlightsImage,
    .highlightsText, 
    .trendsText, 
    .trends img,
    .behindScenesText, 
    .behindScenes img  {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .highlightsText,
    .trendsText,
    .behindScenesText {
        text-align: center;
    }
    
    .highlightsImage img,
    .highlightsText,
    .trends img,
    .trendsText,
    .behindScenes img,
    .behindScenesText {
        padding-top: 5%;
    }

    article .trendsText p,
    article .behindScenesText p {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin: 0;
    }
    
    .highlight button {
        height: 70px;
    }
   
    .behindScenes button {
        margin: 0 0 5% 0;    
    }

    .trendsText h3,
    .behindScenesText h3 {
        width: 100%;
       margin: 0;
    }
}

@media(max-width: 1220px) {
    header .logo {
        display: none;
    }

    header .siteNav {
        float: none;
        margin: 0 auto;
    }
    
    header .siteNav .menu {
        margin: 0 auto;       
    }
    
    .highlightsText p,
    .trendsText p,
    .behindScenesText p {
        padding: 0 5%;
    }

    .trends button {
        margin-bottom: 5%; 
    }

    .behindScenes img {
        padding-top: 0;
    }

    .subscribe {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    form {
        height:112px;
    }

    .subscribe input[type="email"],
    .subscribe input[type="submit"] {
        height: 50px;
        width: 75%;
        margin: 0 12%;
    }

    .subscribe input[type="email"] {
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: #232323;
    }
    .subscribe input[type="submit"] {
        margin-top: 12px;
        margin-bottom: 5%;
        top: 50px;
        left: 5px;
        font-family: 'Catamaran', sans-serif;
        font-weight: bold;
    }

    .contact {
        margin-left: 13%;
    }
    .bottomNav {
        margin-right: 13%;
        width: 15%;
        
    }
    .bottomNav ul li {
        text-align: right;
    }


/* media query 958*/


}